#photo-gallary{
    background-color: bisque;
    height: 900px;
}

.photo-column{
    background-color: sienna;
    height: 900px;
}



.photo-sm {
    width:100%;
    height: 380px;
    background-color: #2196F3;
    margin-top: 20px;
    overflow: hidden;
}
  
  .photo-big {
    width:100%;
    height: 480px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
}

@media(min-width:575.98px) {
    #photo_gallery {
        margin-top: 20px;
        width: 100%;
        height: 3600px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media(min-width:767.98px) {
    #photo_gallery {
        margin-top: 20px;
        width: 100%;
        height: 1800px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media(min-width:991.98px) {
    #photo_gallery {
        margin-top: 20px;
        width: 100%;
        height: 900px;
    }
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}